<div [ngClass]="classManager.getClass()" class="parallaxie">
    <router-outlet/>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="personal-contact-box" data-aos="fade-right" data-aos-duration="1000">
                    <div id="list-example" class="list-group">
                        <a class="list-group-item list-group-item-action"
                           [ngClass]="{ active: currentSection === 'list-item-1' }" [ngxScrollTo]="'#list-item-1'"
                           href="javascript:void(0);" (click)="setActiveLink('list-item-1')">
                            <img src="assets/img/icons/home1.svg" alt=""/>
                            <span>Inicio</span>
                        </a>
                        <a class="list-group-item list-group-item-action" [ngxScrollTo]="'#list-item-2'"
                           [ngClass]="{ active: currentSection === 'list-item-2' }" href="javascript:void(0);"
                           (click)="setActiveLink('list-item-2')">
                            <img src="assets/img/icons/home2.svg" alt=""/>
                            <span>Sobre mí</span>
                        </a>
                        <a class="list-group-item list-group-item-action"
                           [ngClass]="{ active: currentSection === 'list-item-3' }" [ngxScrollTo]="'#list-item-3'"
                           href="javascript:void(0);" (click)="setActiveLink('list-item-3')">
                            <img src="assets/img/icons/home4.svg" alt=""/>
                            <span>Mis Habilidades</span>
                        </a>
                    </div>
                    <div class="img1 image-anime reveal" appGsapReveal>
                        <img src="assets/img/all-images/luis/IMG_0302.JPG" alt="">
                    </div>
                    <div class="space18"></div>
                    <h3>Luis R. Aguilar Uribe</h3>
                    <div class="space16"></div>
                    <p>Hola, soy Luis R. Aguilar, un desarrollador de software con más de 8 años de trayectoria en el diseño e
                        implementación de aplicaciones web modernas. Tengo experiencia en Angular, Java, Spring Boot, Laravel y VueJS,
                        aplicando metodologías ágiles y buenas prácticas de ingeniería.</p>
                    <div class="space32"></div>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/Luis.R.Aguilar.Uribe">
                                <img src="assets/img/icons/s-icon3.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/isc-luis-rodrigo-aguilar-uribe/">
                                <img src="assets/img/icons/s-icon4.svg" alt="">
                            </a>
                        </li>
                    </ul>
                    <div class="space44"></div>
                    <div class="btn-area1 text-center">
                        <a href="assets/files/luis/cv_2025.pdf" download class="vl-btn1">Descargar CV
                            <img src="assets/img/icons/download1.svg" alt="">
                        </a>
                    </div>
                    <div class="space32"></div>
                    <p>© {{ year }} Luis R. Aguilar. All Rights Reserved.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                     class="scrollspy-example">
                    <!--===== HERO AREA STARTS =======-->
                    <div id="list-item-1">
                        <div class="hero-heading-area heading1">
                            <h5 data-aos="fade-left" data-aos-duration="800">
                                <img src="assets/img/icons/sublogo1.svg" alt="">
                                Hola, soy Luis R. Aguilar, desarrollador de software
                            </h5>
                            <div class="space24"></div>
                            <h1 data-aos="fade-left" data-aos-duration="900">Innovación tecnológica</h1>
                            <div class="space24"></div>
                            <h1 class="head" data-aos="fade-left" data-aos-duration="1000">y desarrollo de
                                <span>software</span>
                            </h1>
                            <div class="space24"></div>
                            <p data-aos="fade-left" data-aos-duration="1100">Creando software que combina innovación, eficiencia y valor
                                real, transformando ideas en soluciones tecnológicas que generan impacto, mejoran procesos y ofrecen
                                experiencias más simples y efectivas.</p>
                            <div class="space32"></div>
                        </div>
                    </div>
                    <!--===== HERO AREA ENDS =======-->
                    <div class="space50"></div>
                    <div id="list-item-2">
                        <!--===== ABOUT AREA STARTS =======-->
                        <div class="about-section-area">
                            <div class="heading1">
                                <h5 data-aos="fade-left" data-aos-duration="800"><img
                                    src="assets/img/icons/sublogo1.svg" alt="">Sobre mí</h5>
                                <div class="space24"></div>
                                <h1 data-aos="fade-left" data-aos-duration="1000">
                                    Creando experiencias
                                </h1>
                                <div class="space24"></div>
                                <h1 class="head" data-aos="fade-left" data-aos-duration="1100">
                                    de usuario <span>fluidas</span>
                                </h1>
                            </div>
                            <div class="space60"></div>
                            <div class="about-boxarea">
                                <div class="row">
                                    <div class="col-lg-12" data-aos="fade-left" data-aos-duration="1200">
                                        <div class="about-main-boxes">
                                            <h4>Luis R. Aguilar</h4>
                                            <div class="space24"></div>
                                            <p>
                                                Hola, soy Luis R. Aguilar, un desarrollador de software con más de 8 años de trayectoria en
                                                el diseño e implementación de aplicaciones web modernas. Tengo experiencia en Angular, Java,
                                                Spring Boot, Laravel y VueJS, aplicando metodologías ágiles y buenas prácticas de
                                                ingeniería. Mi último puesto como Analista Programador SR B me permitió fortalecer mis
                                                habilidades en la construcción de sistemas complejos y el trabajo colaborativo con equipos
                                                multidisciplinarios. Me apasiona la tecnología, seguir aprendiendo cada día y aportar valor
                                                en equipos que buscan innovación y crecimiento. Estoy abierto a nuevos retos donde pueda
                                                compartir mi experiencia y al mismo tiempo seguir creciendo como profesional.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="900">
                                        <div class="about-boxes2">
                                            <img src="assets/img/icons/home2.svg" alt="">
                                            <div class="content-area">
                                                <h4>Angular</h4>
                                                <div class="space16"></div>
                                                <p>
                                                    Desarrollo de aplicaciones web dinámicas y escalables, con énfasis en el rendimiento, la
                                                    mantenibilidad y experiencias de usuario modernas.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                                        <div class="about-boxes2">
                                            <img src="assets/img/icons/home3.svg" alt="">
                                            <div class="content-area">
                                                <h4>Java, Spring Boot</h4>
                                                <div class="space16"></div>
                                                <p>
                                                    Creación de aplicaciones robustas y seguras con arquitectura escalable, optimizando
                                                    procesos mediante servicios backend eficientes y confiables.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1100">
                                        <div class="about-boxes2">
                                            <img src="assets/img/icons/home4.svg" alt="">
                                            <div class="content-area">
                                                <h4>Git, Control de Versiones</h4>
                                                <div class="space16"></div>
                                                <p>
                                                    Gestión eficiente del código a través de control de versiones, facilitando el trabajo en
                                                    equipo, la trazabilidad y el desarrollo colaborativo.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="about-boxes2">
                                            <img src="assets/img/icons/home5.svg" alt="">
                                            <div class="content-area">
                                                <h4>SCRUM</h4>
                                                <div class="space16"></div>
                                                <p>
                                                    Aplicación de metodologías ágiles para gestionar proyectos de software, fomentando la
                                                    colaboración, la adaptabilidad y la entrega continua de valor.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="soace20"></div>
                                    <div class="col-lg-6 col-md-6">
                                        <h3>Experiencia laboral</h3>
                                        <div class="space32"></div>
                                        <div class="about-others-box" data-aos="zoom-in" data-aos-duration="900">
                                            <p>2022-2025</p>
                                            <br>
                                            <h4>
                                                <a href="https://www.banregio.com/" target="_blank">Analista Programador SR B</a>
                                            </h4>
                                            <p>Grupo Financiero Banregio</p>
                                            
                                            <div class="space32"></div>
                                            <p>2022-2023</p>
                                            <br>
                                            <h4>
                                                <a href="javascript:void(0);">Desarrollador Full Stack</a>
                                            </h4>
                                            <p>Horuss Solutions</p>
                                            
                                            <div class="space32"></div>
                                            <p>2021-2022</p>
                                            <br>
                                            <h4>
                                                <a href="javascript:void(0);">Desarrollador Full Stack</a>
                                            </h4>
                                            <p>Horuss Solutions</p>
                                            
                                            <div class="space32"></div>
                                            <p>2019-2021</p>
                                            <br>
                                            <h4>
                                                <a href="https://www.municipiocampeche.gob.mx/" target="_blank">Jefe de Departamento</a>
                                            </h4>
                                            <p>H. Ayuntamiento de Campeche</p>
                                            
                                            <div class="space32"></div>
                                            <p>2018-2018</p>
                                            <br>
                                            <h4>
                                                <a href="javascript:void(0);">Desarrollador de Software</a>
                                            </h4>
                                            <p>Logismic Software</p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6">
                                        <h3>Educación</h3>
                                        <div class="space32"></div>
                                        <div class="about-others-box" data-aos="zoom-in" data-aos-duration="1100">
                                            <p>2025 - Actualidad</p>
                                            <br>
                                            <h4>
                                                <a href="https://ieu.edu.mx/oferta-academica/maestrias/tecnologias-de-la-informacion/"
                                                   target="_blank">
                                                    Maestría en Tecnologías de la Información
                                                </a>
                                            </h4>
                                            <p>IEU Universidad</p>
                                            
                                            <div class="space32"></div>
                                            <p>2011 - 2016</p>
                                            <br>
                                            <h4>
                                                <a href="https://itcampeche.edu.mx/ingenieria-en-sistemas-computacionales/" target="_blank">
                                                    Ingeniería en Sistemas Computacionales
                                                </a>
                                            </h4>
                                            <p>Instituto Tecnológico de Campeche</p>
                                        </div>
                                    </div>
                                    <div class="space20"></div>
                                </div>
                            </div>
                        </div>
                        <!--===== ABOUT AREA ENDS =======-->
                    </div>
                    
                    <div id="list-item-3">
                        <!--===== SKILL AREA STARTS =======-->
                        <div class="skill-section-area">
                            <div class="container">
                                <div class="row">
                                    <div class="col-gl-12">
                                        <div class="skill-header heading1">
                                            <h5 data-aos="fade-left" data-aos-duration="800"><img
                                                src="assets/img/icons/sublogo1.svg" alt="">Mis Habilidades</h5>
                                            <div class="space24"></div>
                                            <h2 data-aos="fade-left" data-aos-duration="1000">
                                                Las herramientas detrás de un
                                            </h2>
                                            <div class="space24"></div>
                                            <h2 class="head" data-aos="fade-left" data-aos-duration="1100">
                                                desarrollo <span>excepcional</span>
                                            </h2>
                                        </div>
                                        <div class="space80"></div>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6" data-aos="zoom-out" data-aos-duration="900">
                                                <div class="skill-boxarea">
                                                    <div class="icons">
                                                        <img src="assets/img/icons/skill1.svg" alt="">
                                                    </div>
                                                    <div class="space24"></div>
                                                    <h3><span appCounter [countTo]="96" class="counter"></span>%</h3>
                                                    <div class="space16"></div>
                                                    <p>Angular</p>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-4 col-md-6" data-aos="zoom-out" data-aos-duration="1000">
                                                <div class="skill-boxarea">
                                                    <div class="icons">
                                                        <img src="assets/img/icons/skill2.svg" alt="">
                                                    </div>
                                                    <div class="space24"></div>
                                                    <h3><span appCounter [countTo]="92" class="counter"></span>%</h3>
                                                    <div class="space16"></div>
                                                    <p>Java</p>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-4 col-md-6" data-aos="zoom-out" data-aos-duration="1100">
                                                <div class="skill-boxarea">
                                                    <div class="icons">
                                                        <img src="assets/img/icons/skill3.svg" alt="">
                                                    </div>
                                                    <div class="space24"></div>
                                                    <h3><span appCounter [countTo]="90" class="counter"></span>%</h3>
                                                    <div class="space16"></div>
                                                    <p>Spring Boot</p>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-4 col-md-6" data-aos="zoom-out" data-aos-duration="1200">
                                                <div class="skill-boxarea">
                                                    <div class="icons">
                                                        <img src="assets/img/icons/skill4.svg" alt="">
                                                    </div>
                                                    <div class="space24"></div>
                                                    <h3><span appCounter [countTo]="80" class="counter"></span>%</h3>
                                                    <div class="space16"></div>
                                                    <p>Laravel</p>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-4 col-md-6" data-aos="zoom-out" data-aos-duration="1000">
                                                <div class="skill-boxarea">
                                                    <div class="icons">
                                                        <img src="assets/img/icons/skill5.svg" alt="">
                                                    </div>
                                                    <div class="space24"></div>
                                                    <h3><span class="counter" appCounter [countTo]="98"></span>%</h3>
                                                    <div class="space16"></div>
                                                    <p>Git</p>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-4 col-md-6" data-aos="zoom-out"
                                                 data-aos-duration="11000">
                                                <div class="skill-boxarea">
                                                    <div class="icons">
                                                        <img src="assets/img/icons/skill6.svg" alt="" class="Wordpress">
                                                    </div>
                                                    <div class="space24"></div>
                                                    <h3><span class="counter" appCounter [countTo]="90"></span>%</h3>
                                                    <div class="space16"></div>
                                                    <p>PostgreSQL</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--===== SKILL AREA ENDS =======-->
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>


<div class="custom-model-main" [class.model-open]="isModelOpen">
    <div class="custom-model-inner">
        <div class="close-btn" (click)="closeModel()">×</div>
        <div class="custom-model-wrap">
            <div class="pop-up-content-wrap">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="opend-section">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="boxes-area">
                                        <div class="img1">
                                            <img src="assets/img/all-images/portfolio/portfolio-img1.png" alt="">
                                        </div>
                                        <div class="content">
                                            <div class="tags-area">
                                                <a href="javascript:void(0);">23 April 2024</a>
                                                <a href="javascript:void(0);">Alex Ross</a>
                                            </div>
                                            <a href="javascript:void(0);">Crafting Compelling Designs and Strategic Marketing: A Creative
                                                Journey Unveiled</a>
                                            <p>In today's fast-paced digital landscape, the intersection of design and
                                                marketing has become increasingly vital for businesses aiming to best
                                                captivate audiences and drive success. Crafting compelling designs.</p>
                                            <p class="pera">Psychology and market trends. Through strategic marketing,
                                                these an designs are brought to life, leveraging data-driven insights
                                                innovative.</p>
                                            <div class="btn-area1">
                                                <a href="contact.html" class="vl-btn1">Get in touch now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-5">
                                    <div class="contact-from-area" data-aos="flip-right" data-aos-duration="1000">
                                        <h3>Leave A Message</h3>
                                        <form action="https://api.web3forms.com/submit" method="POST">
                                            <input type="hidden" name="access_key"
                                                   value="0cd32fff-eda2-4da3-be43-37d47fbb396b">
                                            
                                            <div class="input">
                                                <input type="text" placeholder="Full Name">
                                            </div>
                                            <div class="input">
                                                <input type="number" placeholder="Phone Number" required>
                                            </div>
                                            <div class="input">
                                                <input type="email" placeholder="Email Address" required>
                                            </div>
                                            <div class="input">
                                                <select name="country" id="country" class="country-area nice-select6">
                                                    <option value="1" data-display="Service Type">Service Type</option>
                                                    <option value="">Belgium</option>
                                                    <option value="">Brezil</option>
                                                    <option value="">Argentina</option>
                                                    <option value="">Bangladesh</option>
                                                    <option value="">Germany</option>
                                                </select>
                                            </div>
                                            <div class="input">
                                                <textarea placeholder="Message" required></textarea>
                                            </div>
                                            <div class="space32"></div>
                                            <div class="btn-area text-end" data-aos="fade-up" data-aos-duration="1200">
                                                <button type="submit" class="vl-btn1">submit now</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-overlay"></div>
</div>
